transformers==4.26.0
datasets[s3]==2.9.0
torch
tensorboard
scikit-learn
psutil
sacrebleu
rouge-score
tensorflow_datasets
pytorch-lightning
matplotlib
git-python==1.0.3
faiss-cpu
streamlit
elasticsearch
nltk
pandas
datasets
fire
pytest
conllu
sentencepiece != 0.1.92
protobuf
